/* header start */
header{
    background-color: #FFC107;
}
.menu ul  li a{
    font-size: 22px;
    font-weight: 400;
    color: #010101 !important;
    padding: 0 25px !important;
    transition: .3s all ease-in-out;
}
.menu ul li:last-child a{
    padding-right: 0 !important;
}
.menu ul li a:hover {
    color: white !important;
}
/* header end */
.cntr{
    width: 100%;
}
.count1{
    width: 250px;
    height: 250px;
    border: 2px solid #464545;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.count1:hover{
    color: white;
    background-color: whitesmoke;
    border-color: red;
    transform: scale(1.1);
}
.s1, .s2, .s3, .s4{
    min-height: 150px;
}
.hd2{
    background-color: violet;
}
.parallax-window {
	min-height: 500px;
	background: transparent;
}

